{
	admin off
	auto_https off
	persist_config off
	log {
		output stdout
		format console
	}
}

:65101 {
	root * /srv
	encode zstd gzip
	log {
		output stdout
		format console
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
