FOURVISOR_COMMIT_HASH=
FOURVISOR_IMAGE_TAG=
GRAFANA_CLOUD_OTLP_ENDPOINT=
GRAFANA_CLOUD_INSTANCE_ID=
GRAFANA_CLOUD_API_KEY=

# FOURVISOR_OTLP_ENDPOINT=http://otelcol:65103
# FOURVISOR_ACQUISITION_RATE_INTERVAL=1s
# FOURVISOR_ACQUISITION_MAX_CONCURRENCY=10
# FOURVISOR_ACQUISITION_REQUEST_TIMEOUT=5s
# FOURVISOR_ACQUISITION_MAX_RETRIES=2
# FOURVISOR_ACQUISITION_RETRY_BACKOFF=1s
# FOURVISOR_ACQUISITION_DEADLINE=4h
# FOURVISOR_SYNCHRONIZATION_INTERVAL=4h
# FOURVISOR_SYNCHRONIZATION_FAILED_RESOURCE_TOLERANCE=10
