{
	admin off
	auto_https off
	persist_config off
	log {
		output stdout
		format console
	}
}

http://:65199 {
	log {
		output stdout
		format console
	}

	handle_path /api/* {
		reverse_proxy backend:65102 {
			header_up Accept-Encoding identity
		}
	}

	handle {
		reverse_proxy frontend:65101 {
			header_up Accept-Encoding identity
		}
	}
}
